body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
}

button {
	padding: 5px;
	background-color: #CDDC39;
	border: none;
	margin: 5px;
}

button:hover {
	background-color: #8BC34A;
}